shop {
  background-color: #FFC266;
  display: block;
  padding: 10px;
  font-family: sans-serif;
}
shop:before {
  content:  attr(name); 
  font-size: 45px; 
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
}

personal_data:before{ 
  content: 'Dane osobowe';
  font-size: 20px;
  display: block;
  font-weight: bold;
}

products:before{
  content: 'Produkty';
  font-size: 20px;
  display: block;
  font-weight: bold;
}

/*order:before{
  content: attr(id);
}
*/

order { 
  margin: 15px 0px;
  padding-top: 15px;
  background-color: #FFCE83;
  display: block;
  padding-bottom: 15px;
  padding-left: 150px;
}

product{
  display: none;
}

order products product{
  padding-top: 10px;
  background-color: #FF9900;
  display: block;
  margin: auto;
  text-align: center;
  border-top: 1px solid black;
}

name surname {
 display: block;
 position: fixed;
}

name {
  font-size: 20px;
}

surname {
  font-size: 20px;
}
name:before {
  content: "Imię nazwisko: "; 
  font-style: italic;
  font-size: 18px;
}

address {
 display: block;
 font-size: 20px;
}

address:before {
  content: "Adres: ";
  font-style: italic;
  font-size: 18px;
}

city post_code{
 display: block;
} 

phone:before {
  content: "Numer telefonu: "; 
  font-style: italic; 
  font-size: 18px;
}

phone{
  display: block;
  font-size: 20px;
}

created_at:before {
  content: "Data: ";
  font-style: italic;
  font-size: 18px;
}

created_at{
  display: block;
  font-size: 20px;
  }

email:before{
  content: "E-mail: ";
  font-style: italic;
  font-size: 18px;
}

email{
  display: block;
  font-size: 20px;
}

status:before{
  content: "Status: ";
  font-style: italic;
  font-size: 18px;
}

status{
  display: block;
  font-size: 20px;
}

total:before{
  content: "Suma: ";
  font-style: italic;
  font-size: 18px;
}

total:after{content: attr(currenct);}

total{
  display: block;
  font-size: 20px;
}

product name{
  color: red;
}